<div>
  <strong class="message user-name"><%= message.user[:first_name] + " " + message.user[:last_name] %>:</strong> <%= message.content %>  Created at: <%= message.created_at.strftime("%H:%M:%S") %>
</div>
